@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    height: 110vh;
}

.skill_text {
    color: white;
    flex: 0.7;
    text-align: left;

    max-width: 600px;
    margin-bottom: 30px;
    font-family: 'Jacques+Francois+Shadow', cursive;
    font-weight: bolder;

}

.skill_text>h2 {
    font-family: "Abril+Fatface" !important;
    font-size: 40px;
    color:white;


}

.skill_container>h5 {
    font-family: "Jacques+Francois+Shadow";
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 25px;
    color:rgb(179, 203, 235);

}

.skill_image {
    flex: 0.3;
    text-align: center;
    margin-right: 100px;
}

.skill_image>img {
    width: 600px;
    border-radius: 3px;
    object-fit: contain;
}

#progress>.MuiLinearProgress-root {
    background-color: rgb(89, 90, 87);
}

/* .color_slider1 > div >.MuiLinearProgress-bar1 {
    background-color: red;
} */

span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.line1.css-eglki6-MuiLinearProgress-root span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1 {
    background-color: red;

}

span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.line2.css-eglki6-MuiLinearProgress-root span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1 {
    background-color: rgb(255, 136, 0);
}

span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.line3.css-eglki6-MuiLinearProgress-root span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1 {
    background-color: rgb(0, 247, 255);
}

span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.line4.css-eglki6-MuiLinearProgress-root span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1 {
    background-color: rgb(183, 0, 255);
}

span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.line5.css-eglki6-MuiLinearProgress-root span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1 {
    background-color: gold
}

span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.line6.css-eglki6-MuiLinearProgress-root span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1 {
    background-color: rgb(250, 248, 248);
}