@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');







.experience {
    display: flex;
    flex-direction: column;
    border: 2px dotted black;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.experience>p {
    font-family: "Abril+Fatface" !important;
    font-size: 14px;
    letter-spacing: 1px;
}