*{
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  padding: 0 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header_right ul li.nav-item a h3:hover {
  transform: translateY(14px);
  background-color: gold;
  color: black;
  padding: 5px 15px;
  border-radius: 1px;
  letter-spacing: 1px;
  font-family: "Marcellus",sans-serif;
  cursor: pointer;
}

.header_right ul li.nav-item a h3 {
  font-size: 20px;
  cursor: pointer;
  transition: all ease .3s;
  font-family: "Marcellus",sans-serif;
  padding: 20px 0px;
  letter-spacing: 1px;
  color: white;
}
.header_left h1 {
  color: white;
  text-align: left;
  float: left;
}

span.navbar-toggler-icon {
  background: white;
  border-radius: 15px;
}

/* .navbar-expand-lg .navbar-collapse {
  display: flex !important;
  justify-content: flex-end;
  width: 100% !important;
} */

nav.navbar.navbar-expand-lg {
  position: fixed;
  z-index: 99;
  width: 100%;
}

@media only screen and (min-width:4501px) and (max-width: 6000px) {
	/*25*/

}

@media only screen and (min-width:3100px) and (max-width: 4500px) {
	/*33%*/
}

@media only screen and (min-width:2701px) and (max-width: 3100px) {
	/*50%*/

}

@media only screen and (min-width:2001px) and (max-width: 2700px) {
	/*67%*/

}

@media only screen and (min-width: 1801px) and (max-width: 2000px) {
	/*75%*/
	
}

@media only screen and (min-width:1601px) and (max-width: 1800px) {
	/*80%*/
	
}


@media only screen and (min-width:1517px) and (max-width: 1600px) {
	/*90%*/

}

@media (max-width:1200px) {
	/*Tab-landscape mode*/
    
}

@media (max-width:1024px) {
	.skills {
    display: inline-block !important;
    width: 100%;
  }
  .skill_image {
    margin-right: 0;
}
.skill_text {
  color: white;
  flex: 0.7 1;
  text-align: left;
  max-width: 93% !important;
  margin: 30px !important;
  font-family: 'Jacques+Francois+Shadow', cursive;
  font-weight: bolder;
}
.header {
  display: block !important;
}
.project {
  margin: 15px;
  width: 100% !important;
  height: auto !important;
}
.project>img {
  width: 100% !important;
  height: auto !important;
}
}

@media (min-width:991px) {


}

@media (max-width:991px) {
	/*Tab-potrait mode*/
  .topcontainer {
    background-image: url(http://localhost:3000/static/media/geth.c7e81f8….jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 20%);
}
.exp_info {
  background: url(http://localhost:3000/static/media/color.f7d11f6….jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto !important;
  z-index: 1000px;
  width: 100% !important;
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 40%);
  display: inline-block !important;
  justify-content: center;
  align-items: center;
}
.experience {
  display: flex;
  border: 2px dotted black;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  background-color: black;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  float: none;
  margin: 0 auto;
}
.contact_container {
  width: 100% !important;
  padding: 0 !important;
}
.topcontainer{
  background-image: url("C:/Users/User/Desktop/nadha-portfolio/portfolio/src/Image/geth1.jpg") !important;
  height: 100vh;
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
position: relative;
box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2);
}
.topcontent_container {
  position: absolute !important;
  top: 500px !important;
  right: 0 !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.menu-toggle{
  background-image: url("C:/Users/User/Desktop/nadha-portfolio/portfolio/src/Image/menu.png") !important;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(82deg) brightness(104%) contrast(105%);
}
.header_right{
  display: flex;
  flex: 0.6;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 0 !important;
  float: left !important;
}
div#navbarSupportedContent {
  background: #e8c400;
  position: relative;
  left: -11px;
}
.header_right ul li.nav-item a h3 {
  color: black;
  padding-left: 10px;
}
button.navbar-toggler.collapsed {
  border: none;
}
	
}

@media (max-width:767px) {
  .skill_image{
    margin-right: 0 !important;
  }
  .skill_image>img {
    width: 100% !important;
}
.contact_container {
  border: 1px dotted white;
  width: 100%;
  height: 200px;
}
}

@media (max-width:640px) {

	/*Smart-phones*/

	
}

@media (min-width:640px) {
	
}

@media (max-width:575px) {}


@media (min-width:480px) {

}


@media (max-width:480px) {
  .topcontent_container >h1 {
    font-family: "Audiowide",sans-serif;
    font-size: 33px !important;
    font-weight: bolder;
}
.topcontent_container {
  position: absolute !important;
  top: 380px !important;
}
	
}

@media (max-width:360px) {
	
}

@media (max-width:321px) {}